body
{
 padding:0;
 margin:0;
}  
.sideStatus{
	text-align: center; 
	font-size: 13px
}

.lead {
	font-size: 1.5rem;
	font-family: var(--righteous-font);
}
ul {
	/*border-top: 2px solid white;*/
	margin-top: 2rem;
	list-style: none;
	/*display: none;*/
}

.topList {
	/*border-top: 2px solid white;*/
	margin-top: 0;
	list-style: none;
}

.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}

.listBox{
	padding: 10px;
	color: #007AFF;
	background-color: white;
	border-color: #007AFF;
}

.waveSec{
	position: relative;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.wave{
	width: 100%;
	position: fixed;
	bottom: 0;
	
}

.toolIcon{
	color: #007AFF;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//! Breakpoints 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width