.sideStatus{
	text-align: center; 
	font-size: 13px
}

.xBtn{
	padding: 4px; 
	padding-bottom: 2px; 
	padding-top:0px
}
html {
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

input {
  padding-top: 30px;
  width: 500px;
  height: 60px;
  font-size: 40px;
  border: 0;
}

input:focus {
  outline: none;
}

list {
  text-align: left;
  font-size: 40px;
  list-style: none;
  margin: 0;
}

list:hover {
  text-decoration: line-through;
}

//! Breakpoints 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width